<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Προϊόντα - Papiro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <header>

    <a href="{{ url_for('homepage') }}"> 
     <img src="{{ url_for('static', filename='papiro-logo.png') }}" alt="Papiro logo" id="logo">
    </a>

    <nav>
      <ul>
        <li><a href="{{ url_for('homepage') }}">Αρχική</a></li>
        <li><a href="{{ url_for('products_page') }}">Προϊόντα</a></li>
        <li><a href="{{ url_for('contact_page') }}">Επικοινωνία</a></li>
      </ul>
    </nav>
  </header>

  <section class="search">
    <input type="text" id="search-input" placeholder="Αναζήτηση προϊόντος..." />
    <button id="search-button">Αναζήτηση</button>
  </section>

  <main>
    <h1>Τα προϊόντα μας</h1>
    <div id="results"></div>
  </main>

 

  <footer>
    <p>Αλκμήνη Φαρμάκη, Ευαγγελία Κρασνίδου, Αναστάσης Αναγνώστου.</p>
  </footer>

  <script src="{{ url_for('static', filename='products.js') }}"></script>
</body>
</html>
